 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    background-image: url(./images/pattern.png);
    background-color: rgba(78,160,255,255);
    width: 100%;
    background-repeat: repeat-x;
    height: 100px;
}

#logo {
    width: 250px;
    height: 100px;

}
.photos{
    margin-bottom: 2px;
}

